.container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 20px;
}

.card_list {
    border: 2px solid;
    border-color: transparent;
    padding: 10px;
}

button {
    color: white;
}