<p>directory works!</p>
<mat-slide-toggle>Slide me!</mat-slide-toggle>

<h3>Radio buttons in Angular material</h3>

<mat-radio-button value="1" color="primary">
    Primary Theme radio button </mat-radio-button><br /><br />

<mat-radio-button value="2" color="warn">
    Warn Theme Radio button </mat-radio-button><br /><br />

<mat-radio-button value="3" color="accent">
    Accent Theme Radio button
</mat-radio-button>

<br />
<br />

<mat-radio-button value="4" color="accent" disabled>
    Disabled Radio Button
</mat-radio-button>